<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8" />
<link rel="stylesheet" href="assets/css/index.css" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=0" />
<title>Kavya-Memepage</title>
<meta name="description" content="" />
<meta itemprop="description" content="" />
<meta itemprop="image" content="URL_OF_DEPLOYMENT/branding/" />
<meta property="og:url" content="URL_OF_DEPLOYMENT" />
<meta property="og:type" content="website" />
<meta property="og:title" content="kavya-memepage" />
<meta property="og:description" content="" />
<meta property="og:image" content="URL_OF_DEPLOYMENT/branding/" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="kavya-memepage" />
<meta name="twitter:description" content="" />
<meta name="twitter:image" content="URL_OF_DEPLOYMENT/branding/" />

<body>
    <div class="loader">
        <div class="loader-main"></div>
    </div>
    <div class="main-title"><img src="/favicon.ico" alt="img" class="main-image" draggable="false">
        <h1 class="main-text">Kavya Memepage</h1>
    </div>
    <div class="upload-container">
        <a href="/upload" class="main-upload">Upload Meme</a>
    </div>
    <div class="in-div">
        <% if(data.length){ for(var i=0; i< data.length; i++) {%>
            <div id="main" style="margin-top: 30px;">
                <img id="image" width="300" src="images/<%= data[i].filename%>" />
            </div>
            <% } }else{ %>
                <% } %>
    </div>
    <script type="text/javascript" src="assets/js/main.js" defer></script>
</body>

</html>