@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    user-select: none;
    -moz-user-select: none;
    margin: none;
    padding: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: #000000;
    font-family: 'Noto Sans Mono', monospace;
    overflow-x: hidden;
    color: #ffffff;
}

*::-webkit-scrollbar {
    background: #111111;
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}

*::-webkit-scrollbar-button {
    display: none;
}

.loader {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000000;
    transition: opacity 0.75s, visibility 0.75s;
    margin-top: -30px;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader .loader-main {
    height: 75px;
    width: 75px;
    border: 5px solid #ffffff;
    border-top-color: #000000;
    border-radius: 50%;
    animation: 2s rotation infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

.main-scroll {
    background: #111111;
    height: 95vh;
    margin-top: 15px;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: scroll;
    overflow-x: hidden;
}

.main-title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background: #191919;
    height: 70px;
    width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}

.main-image {
    width: 40px;
    margin-right: 5px;
}

.main-text {
    color: #ffffff;
    font-size: 20px;
}

.upload-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-upload {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.main-upload span {
    font-size: 25px;
    border-radius: 50%;
    background: #ffffff;
    color: #000000;
    padding: 8px 8px;
}

.main-upload span:hover {
    background: #191919;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 6px;
}

@media(max-width:565px) {
    .main-scroll {
        width: 400px;
    }
}

@media(max-width:435px) {
    .main-title {
        width: 320px;
    }

    .main-scroll {
        width: 350px;
    }
}

@media(max-width:385px) {
    .main-scroll {
        width: 340px;
    }

    .main-title {
        min-width: 320px;
    }
}

@media(max-width:350px) {
    .main-scroll {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0px;
    }

    .main-title {
        min-width: 298px;
        max-width: 298px;
    }

    .main-text {
        font-size: 19px;
    }

    .main-image {
        width: 35px;
    }

    .main-upload span {
        font-size: 24px;
        padding: 7px;
    }

    .main-upload span:hover {
        padding: 5px;
    }
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.images img {
    border-radius: 5px;
}