@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    user-select: none;
    -moz-user-select: none;
    margin: none;
    padding: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: #000000;
    font-family: 'Noto Sans Mono', monospace;
    overflow-x: hidden;
    color: #ffffff;
}

*::-webkit-scrollbar {
    background: #000000;
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background: #ffffff;
}

.main-title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background: #191919;
    height: 70px;
    margin-top: 15px;
    width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}

.main-image {
    width: 40px;
    margin-right: 5px;
}

.main-text {
    color: #ffffff;
    font-size: 20px;
}

.upload-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-upload {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.main-upload span {
    font-size: 25px;
    border-radius: 50%;
    background: #ffffff;
    color: #000000;
    padding: 8px 8px;
}

.main-upload span:hover {
    background: #191919;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 6px;
}

@media(max-width:435px) {
    .main-title {
        width: 320px;
    }

    .file-wrapper,
    .upload-btn-wrapper {
        width: 320px;
    }
}

@media(max-width:350px) {
    .main-title {
        width: 298px;
    }

    .main-text {
        font-size: 19px;
    }

    .main-image {
        width: 35px;
    }

    .main-upload span {
        font-size: 24px;
        padding: 7px;
    }

    .main-upload span:hover {
        padding: 5px;
    }

    .file-wrapper,
    .upload-btn-wrapper {
        width: 298px;
    }
}

.file-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    outline: none;
    border: none;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    outline: none;
    border: none;
}

.upload-file {
    color: #9b9b9b;
    outline: none;
    background-color: #282828;
    width: 400px;
    height: 250px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border: none;
}

.upload-btn-wrapper input[type=file] {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    min-height: 300px;
}

.success {
    display: none;
}

.font-50 {
    font-size: 50px;
}

.btn .upload-file {
    font-size: 13px;
}

.upload-btn {
    display: block;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
}